<link href="~/NbSites.Web.ModuleMvc2/Styles/foo.css" type="text/css" rel="stylesheet" />
<script src="~/NbSites.Web.ModuleMvc2/Scripts/foo.js"></script>
<h1>Hello ModuleMvc2</h1>
<p>Hello ModuleMvc2</p>