<ul>
    <li>
        <a href="~/ModuleB">ModuleB</a>
    </li>
    <li>
        <a href="~/ModuleA/Hello">ModuleA/Hello</a>
    </li>
    <li>
        <a href="~/ModuleA">ModuleA</a>
    </li>
    <li>
        <a href="~/ModuleA/Home/Index">ModuleA/Home/Index</a>
    </li>
    <li>
        <a href="~/ModuleA/Home/Index2">ModuleA/Home/Index2</a>
    </li>
    <li>
        <a href="~/ModuleA/Home/Index3">ModuleA/Home/Index3</a>
    </li>
    <li>
        <a href="~/ModuleMvc">ModuleMvc</a>
    </li>
    <li>
        <a href="~/ModuleMvc2">ModuleMvc2</a>
    </li>
</ul>