<ul>
    <li>
        <a href="~/ApiDoc">ApiDoc</a>
    </li>
    <li>
        <a href="~/Portal">Portal</a>
    </li>
    <li>
        <a href="~/Portal/Home/Index">Portal/Home/Index</a>
    </li>
    <li>
        <a href="~/Portal/Home/Index2">Portal/Home/Index2</a>
    </li>
</ul>